body{
    background-image: url(/תמונות/protest-4343182_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    font-size: 25vh;
    font-size: 10vw;
    color: azure;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.home{
    font-size: 2.5vh;
    font-size: 1.2vw;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:1px double rgb(88, 77, 77);
    color: rgb(253, 254, 255);
    filter: drop-shadow(0 0 0.75rem rgb(44, 40, 40));
}
    
@keyframes animation-header {
    0%{
        background-image: url(/תמונות/35529280100996640360no.jpg);
        width: auto;
        height: 25vh;
    }
    100%{
        background-image: url(/תמונות/222.png);
        width: auto;
        height: 25vh;
    }
    
}
header{
    animation: animation-header 7s infinite alternate;
    height: 25vh;
    width: auto;
}
.links-img{
    width:40%;
    
}
.link-img{
    width:40%;
}
.credit-card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-holder {
  margin: 2em 0;
}

.img-box {
 padding-top: 20px;    
 display: flex;
 justify-content: center;
}
.card-box {
  font-weight: 800;
  padding: 1em 1em;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bg-news {
  /* background: -webkit-linear-gradient(70deg, #f54d70 40%, #ffffff 40%); */
  /* background: -o-linear-gradient(70deg, #f54d70 40%, #ffffff 40%); */
  /* background: -moz-linear-gradient(70deg, #f54d70 40%, #ffffff 40%); */
  background: linear-gradient(70deg, #f54d70 40%, #ffffff 40%);
}
.pay1{
 background-image: -webkit-linear-gradient(315deg, #f54d70 0%, #fd8965 100%);
background-image: -moz- oldlinear-gradient(315deg, #f54d70 0%, #fd8965 100%);
background-image: -o-linear-gradient(315deg, #f54d70 0%, #fd8965 100%);
background-image: linear-gradient(135deg, #f54d70 0%, #fd8965 100%);
-webkit-filter: hue-rotate(0deg);
filter: hue-rotate(0deg);
border: none !important;
}

.credit-card form{
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.credit-card .title{
	font-family: 'Abhaya Libre', serif;
	font-size: 1em;
	color: #2C3E50;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}
.credit-card .card-details{
	padding: 25px 25px 15px;
}

.inner-addon {
  position: relative;
}

.inner-addon .fas, .inner-addon .far {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #bcbdbd !important;
}
.right-addon .fas, .right-addon .far { right: 0px; top: 40px;}
.right-addon input { padding-right: 30px; }

.credit-card .card-details label{
	font-family: 'Abhaya Libre', serif;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.credit-card .card-details input[type="text"] {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;	
}
.credit-card .card-details input[type="text"]:focus { outline: none; }

.credit-card .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.credit-card .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
	.credit-card{
	  height: 250vh;
	  width: 100%;
	}
	.credit-card .title {
		font-size: 1.2em; 
	}

	.credit-card .row .col-lg-6 {
		margin-bottom: 40px; 
  	}
  	.credit-card .card-details {
    	padding: 40px 40px 30px; 
    }

  	.credit-card .card-details button {
    	margin-top: 2em; 
    } 
}

@media screen and (max-width:600px) {
    footer{
        position: sticky;
        bottom: 0;
    }
    
}