body{
    background-image: url(/תמונות/protest-4343182_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
@keyframes animation-header {
    0%{
        background-image: url(/תמונות/35529280100996640360no.jpg);
        width: auto;
        height: 25vh;
    }
    100%{
        background-image: url(/תמונות/222.png);
        width: auto;
        height: 25vh;
    }

}
header{
    animation: animation-header 7s infinite alternate;
    height: 25vh;
    width: auto;
}
h1{
    font-size: 18vh;
    font-size: 8vw;
    color: azure;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.links-img{
    width:40%;
    
}
.link-img{
    width:40%;
}
#team-developer{
    padding-top: 20px;
}
.team-img{
    width: 35%;
    border-radius: 100%;
}
h2{
    font-family:  'Montserrat-black', ;
    line-height:1.2; 
    padding-top: 20px;
  
}
@media screen and (max-width:600px) {
    footer{
        position: sticky;
        bottom: 0;
    }
    
}